// app global css in Sass form
@function ratio($amount)
  @return calc(#{$amount} * min(2vw, 1vh))

@font-face
  font-family: "Schoolbell"
  src: url("./fonts/Schoolbell-Regular.ttf")

body
  font-family: "Schoolbell"
  font-size: ratio(4) // default: 14px

.about-footer
  height: ratio(8)

.carousel-actions .q-carousel
  height: ratio(16)

.carousel-concept .q-carousel
  height: ratio(18)

.carousel-credits .q-carousel
  height: ratio(18)

.carousel-editor .q-carousel
  height: ratio(18)

.carousel-emotions .q-carousel
  height: ratio(32)

.carousel-needs .q-carousel
  height: ratio(16)

.dialog-icon-text .q-icon-picker
  height: ratio(30)

.dialog-welcome .q-scrollarea
  height: ratio(22)

.on-left
  margin-right: ratio(1) // default: 12px

.q-btn
  font-size: ratio(3) // default: 14px

.q-btn .q-icon
  font-size: ratio(4) // default: 1.715em (24px)

.q-btn.icon-half .q-icon
  font-size: ratio(2)

.q-btn--dense.q-btn--round .q-btn__wrapper
  min-height: ratio(4) // default: 2.4em (33.6px)
  min-width: ratio(4) // default: 2.4em (33.6px)

.q-btn--rounded
  border-radius: ratio(2) // default: 28px

.q-btn__wrapper
  min-height: ratio(6) // default: 2.572em (36px)
  padding: ratio(1) ratio(2) // default: 4px 16px

.q-card__actions
  padding: ratio(2) // default: 8px

.q-card__actions .q-btn__wrapper
  padding: 0 ratio(1) // default: 0 8px

.q-card__actions--horiz > .q-btn-item + .q-btn-item
  margin-left: ratio(1) // default: 8px

.q-card__section--vert
  padding: ratio(2) // default: 16px

.q-carousel--arrows-horizontal.q-carousel--with-padding .q-carousel__slide
  padding-left: ratio(8) // default: 60px
  padding-right: ratio(8) // default: 60px

.q-carousel__next-arrow--horizontal,
.q-carousel__prev-arrow--horizontal
  bottom: ratio(2) // default: 16px
  top: ratio(2) // default: 16px

.q-carousel__next-arrow--horizontal
  right: ratio(2) // default: 16px

.q-carousel__prev-arrow--horizontal
  left: ratio(2) // default: 16px

.q-carousel__slide
  padding: ratio(2) // default: 16px

.q-carousel__slide .q-icon
  font-size: ratio(22) // default: inherit

.q-dialog__inner--minimized
  padding: ratio(2) // default: 24px

.q-dialog__inner > div
  border-radius: ratio(2)  // default: 4px

.q-dialog__inner > .q-card > .q-card__actions .q-btn--rectangle .q-btn__wrapper
  min-width: ratio(8) // default: 64px

.q-dialog__inner--minimized > div
  max-width: 100vw // default: 560px
  max-height: 100vh // default: calc(100vh - 48px)

.q-dialog-plugin
  width: ratio(50) // default: 400px

.q-drawer__opener
  width: ratio(2) // default: 15px

.q-drawer .q-toolbar
  color: white
  background-color: $primary

.q-field
  font-size: ratio(4) // default: 14px

.q-field__bottom
  min-height: ratio(4) // default: 12px
  padding: ratio(1) ratio(1) 0 // default: 8px 12px 0

.q-field__counter
  padding-left: ratio(1) // default: 8px

.q-field--dense .q-field__bottom
  font-size: ratio(3) // default: 11px

.q-field--dense .q-field__control
  height: ratio(8) // default: 40px

.q-field__native
  padding: ratio(2) 0 // default: 6px 0

.q-field--with-bottom
  padding-bottom: ratio(4) // default: 20px

.q-gutter-y-md
  margin-top: ratio(-2) // default: -16px

.q-gutter-y-md > *
  margin-top: ratio(2) // default: 16px

.q-icon-picker__icon.q-btn--rectangle
  border-radius: ratio(1) // default: 3px

.q-icon-picker__icon .q-btn__wrapper
  min-height: ratio(12) // default: 2.572em (36px)
  padding: 0 // default: 4px 16px

.q-icon-picker__icon .q-icon
  font-size: ratio(12)

.q-item
  min-height: ratio(10) // default: 48px
  padding: ratio(2) // 8px 16px

.q-item__section--avatar
  min-width: ratio(6) // default: 56px

.q-item__section--main .q-icon
  height: ratio(12)
  width: ratio(12)

.q-item__section--main ~ .q-item__section--side
  padding-left: ratio(2) // default: 16px

.q-item__section--side
  padding-right: ratio(2) // default: 16px

.q-item__section--side > .q-icon
  font-size: ratio(4) // default: 24px

.q-page
  padding: ratio(2)

.q-scrollarea > div > div
  padding-right: ratio(3)

.q-scrollarea__bar--v, .q-scrollarea__thumb--v
  width: ratio(1) // default: 10px

.q-toolbar
  min-height: ratio(8) // default: 50px
  padding: 0 // default: 0 12px

.q-toolbar__title
  font-size: ratio(4) // default: 21px
  padding: 0 ratio(2) // default: 0 12px

.q-toolbar__title:first-child
  padding-left: ratio(2) // default: 0

.rounded-borders
  border-radius: ratio(2) // default: 4px

.sortable-drag
  visibility: hidden

.sortable-ghost
  color: white // default: inherit
  background-color: $primary !important // default: white !important

.sortable-ghost .q-icon
  color: white !important // default: $primary !important

.text-half
  font-size: ratio(2)

.text-underline
  text-decoration: underline

ul
  margin-block-start: ratio(1) // default: 1em
  margin-block-end: ratio(1) // default: 1em
  padding-inline-start: ratio(4) // default: 40px
